[core]
	editor = nano
	autocrlf = input
	excludesfile = ~/.gitignore
[include]
    path = .gitconfig.local
[url "ssh://git@github.com/"]
    insteadOf = https://github.com/
[init]
	defaultBranch = main
[mu-repo]
	remote-base-url = ssh://git@github.com:abes140377
